*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// google fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

// sub style components
@import "./loginPage";
@import "./loginBtn";
@import "./home";